<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Injected Ads example</title>
</head>

<body>
  <button class="element-selector">#ad-1</button>
  <button class="element-selector">.foo > .bar > .baz</button>
  <div>
    <iframe frameborder="0" width="800" height="400" id="single"></iframe>
  </div>

  <button id="save-all">Save All</button>

  <pre id="preview"></pre>

  <script src="/js/index.js"></script>
</body>

</html>
